In [9]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [10]:
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
html_data = requests.get(url).text
data = []

In [11]:
soup = BeautifulSoup(html_data,"html5lib")
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")
    data.append({"Date": date, "Revenue": revenue})

In [12]:
gme_revenue = pd.DataFrame(data)

In [13]:
gme_revenue.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709